<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServletA</servlet-name>
        <servlet-class>RegisterServletA</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServletM</servlet-name>
        <servlet-class>RegisterServletM</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllPost</servlet-name>
        <servlet-class>servlet.AllPost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditPost</servlet-name>
        <servlet-class>servlet.EditPost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePost</servlet-name>
        <servlet-class>servlet.DeletePost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Club</servlet-name>
        <servlet-class>Club</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RezervacijaServlet</servlet-name>
        <servlet-class>RezervacijaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUser</servlet-name>
        <servlet-class>DeleteUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServletA</servlet-name>
        <url-pattern>/RegisterServletA</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServletM</servlet-name>
        <url-pattern>/RegisterServletM</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllPost</servlet-name>
        <url-pattern>/AllPost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditPost</servlet-name>
        <url-pattern>/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePost</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Club</servlet-name>
        <url-pattern>/Club</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RezervacijaServlet</servlet-name>
        <url-pattern>/RezervacijaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUser</servlet-name>
        <url-pattern>/DeleteUser</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
